@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #0D2D36;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebebeb;
}

main {
  margin: 5px 10%;
}

/* Estilos de selección */

::selection {
  background-color: #EA4D37;
  color: #FFF9EA;
}

/* Estilos Navbar */

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  color: #0D2D36;
  font-size: 18px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #F37C35;
}

.btn-primary {
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #F37C35;
}

/* Sección Index */

.hero-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ebebeb;
  background-color: rgba(0, 0, 0, 0.726);
  border-radius: 10px;
  padding: 10px;
}

.hero-text p {
  color: #ebebeb;
  font-weight: 500;
}

.btn-primary {
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #F37C35;
  text-decoration: none;
}

.btn-primary:active {
  background-color: #F37C35;
}

/* Sección Index: Cards */

.card {
  margin: 10px;
  min-width: 200px;
  min-height: 150px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 15px;
}

.card-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  text-align: start;
}

.card .btn {
  background-color: #EA4D37;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #F37C35;
}

.card .nights {
  display: block;
  background-color: #EA4D37;
  color: white;
  border-radius: 15px;
  padding: 5px;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 0.9em;
}

/* Sección Index: Media queries cards */

@media (min-width: 768px) and (max-width: 1400px) {
  .card {
    flex-basis: calc(33.33% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-md-3 {
    max-width: 50%;
    flex: 0 0 50%;
  }
}

@media (max-width: 768px) {
  .hero-text {
    padding: 2px;
  }
  .card {
    flex-basis: calc(100% - 20px);
    min-height: 350px;
  }
}

@media (max-width: 576px) {
  .hero-text {
    padding: 2px;
  }

  .card {
    margin: 5px;
    min-width: 100%;
    min-height: 350px;
  }
}

@media (min-width: 1400px) {
  .card {
    min-height: 400px;
    min-width: 300px;
  }
}

/* Sección Index: Media queries hero image */


@media (max-width: 768px) {

  .hero-text {
    padding: 2px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 16px;
  }

  .btn-primary {
    font-size: 12px;
    align-items: center;
  }
}

/* Sección Index: Oferta del día*/

.alert {
  background-image: url('../assets/images/oferta.png');
  background-size: cover;
  background-position: center;
  color: #ebebeb;
  border-radius: 15px; 
  padding: 20px;
}

.alert-heading {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

#ofertaDescripcion {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #ebebeb;
}

.alert .btn-primary {
  background-color: #EA4D37;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #FFF9EA;
  transition: background-color 0.3s;
}

.alert .btn-primary:hover,
.alert .btn-primary:focus {
  background-color: #F37C35;
}

/* Sección Index: Simulador de cuotas */

.simulador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
  max-width: 600px;
}

.simulador-container h5 {
  margin-bottom: 25px;
}

input[type="text"],
input[type="number"],
select {
  border: 1px solid #EA4D37;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  color: #0D2D36;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  background-color: #f0f0f0;
}

form label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 5px;
}

form button {
  background-color: #EA4D37;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #F37C35;
}

#resultado {
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

/* Sección Index: Simulador de cuotas -Historial- */

.historial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  margin-bottom: 100px;
}

.historial-container h5 {
  margin-bottom: 25px;
}

.historial-container ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.historial-container li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: left;
}

.historial-container button {
  background-color: #EA4D37;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s ease;
}

.historial-container button:hover {
  background-color: #F37C35;
}

/* Sección Index: Simulador de cuotas - Buscador */

.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  margin-bottom: 50px;
}

.buscador-container h5 {
  margin-bottom: 25px;
}

.buscador-container input[type="text"] {
  border: 1px solid #EA4D37;
  border-radius: 10px;
  padding: 10px;
  color: #0D2D36;
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.buscador-container input[type="text"]:focus {
  background-color: #f0f0f0;
}

.buscador-container button {
  background-color: #EA4D37;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.buscador-container button:hover {
  background-color: #F37C35;
}

.buscador-container ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.buscador-container li {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: left;
}

/* Sección Index: Personalización SweetAlert */

.swal-popup {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swal-title {
  color: #EA4D37;
}

.swal-content {
  color: #0D2D36;
}

.swal-confirm-button {
  background-color: #EA4D37;
  color: #FFF9EA;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 800px;
  border: none;
}

.swal-confirm-button:hover {
  background-color: #F37C35;
}

/* Sección Index: Botón de volver arriba */

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none;
}

.scroll-to-top-btn:hover {
  background-color: #F37C35;
}

/* Sección Index: Imput suscripción */
.subscription-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.subscription-title {
  font-size: 24px;
  color: #EA4D37;
  margin-bottom: 5px;
  margin-top: 5px;
}

.subscription-description {
  font-size: 16px;
  color: #0D2D36;
  margin-bottom: 5px;
}

.subscription-form {
  display: inline;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.subscription-form input[type="email"] {
  border: 1px solid #EA4D37;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.subscription-btn {
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.subscription-btn:hover {
  background-color: #F37C35;
}

/* Sección Contacto */

#contacto {
  background-color: #ffffff;
  padding: 50px 10%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 1000px;
}

.ubicacion iframe {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-contacto {
  margin-top: 30px;
}

.form-contacto h2 {
  color: #EA4D37;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 28px;
}

.form-contacto label {
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #0D2D36;
}

.form-contacto input[type="text"],
.form-contacto input[type="tel"],
.form-contacto input[type="email"],
.form-contacto textarea {
  border: 1px solid #EA4D37;
  border-radius: 10px;
  padding: 10px;
  color: #0D2D36;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
  transition: background-color 0.3s ease;
}

.form-contacto input[type="text"]:focus,
.form-contacto input[type="tel"]:focus,
.form-contacto input[type="email"]:focus,
.form-contacto textarea:focus {
  background-color: #f0f0f0;
}

.terminos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

.terminos a {
  color: #EA4D37;
  text-decoration: none;
  font-size: 16px;
}

.terminos a:hover {
  text-decoration: underline;
}

.boton-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.boton-contacto {
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  transition: background-color 0.3s ease;
  text-align: center;
  display: inline-block;
}

.boton-contacto:hover {
  background-color: #F37C35;
}

/* Sección about us */

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  max-width: 1000px;
}

.about-us img {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.texto-about {
  text-align: justify;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sección about us: Media queries para about us */
@media (max-width: 768px) {
  .about-us {
    max-width: 90%;
  }

  .about-us img {
    max-width: 100%;
    height: auto;
  }

  .texto-about {
    padding: 15px;
  }
}

/* Sección login */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: #ebebeb;
}

.form-login {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.user-image {
  margin-bottom: 25px;
}

.form-login h2 {
  color: #EA4D37;
  font-size: 24px;
  margin-bottom: 35px;
}

.inputs-login .box {
  border: 1px solid #EA4D37;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 15px;
  color: #0D2D36;
  width: 100%;
  margin-bottom: 25px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.inputs-login .box:focus {
  background-color: #f0f0f0;
}

.forgot-password {
  display: block;
  margin-bottom: 25px;
  color: #0D2D36;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #F37C35;
}

.remeber {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #0D2D36;
  margin-bottom: 25px;
}

.remeber input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #EA4D37;
  background-color: #ffffff;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.remeber input[type="checkbox"]:checked {
  background-color: #EA4D37;
}

.remeber input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border: solid 2px #FFF9EA;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -75%) rotate(45deg);
  background: transparent;
}

.remeber label {
  margin: 0;
  font-size: 16px;
}

.submit {
  background-color: #EA4D37;
  color: #FFF9EA;
  border: none;
  border-radius: 50px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit:hover {
  background-color: #F37C35;
}

/* Sección Footer */

footer {
  background-color: #0D2D36;
  color: white;
  text-align: center;
  padding: 20px;
}

footer img {
  height: 36px;
  margin: 0 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

footer p {
  color: #ffffff;
  font-size: 16px;
}

footer a {
  outline: none;
  text-decoration: none;
}

footer a img {
  vertical-align: middle;
}